nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 1rem;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.089);

	.navHide {
		@media (max-width: 801px) {
			display: none;
		}
	}

	.container {
		display: block;
		position: fixed;
		left: 0;
		top: 10%;
		height: 90vh;
		width: 14rem;
		background: #fff;
		padding-top: 3rem;

		Button {
			display: block;
			margin: 1rem 0.3rem;
		}
	}
}
